!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Better Place Forests
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    
  %body
    %nav.navbar.navbar-expand-md.bg-dark.navbar-dark.m3b
      .container
        = link_to "Home", root_path, class: 'navbar-brand'
        %button.navbar-toggler{"data-target" => "#collapsibleNavbar", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon
        / Navbar links
        #collapsibleNavbar.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li
            %li.nav-item
              = link_to "Nav", '#', class: 'nav-link'
            %li.nav-item
              = link_to "Nav", '#', class: 'nav-link'
            %li.nav-item
              = link_to "Nav", '#', class: 'nav-link'

    .container
      .row
        .col-lg-12
          = notice
          = alert
          .mt-3
            = yield
      %footer
